body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(17, 54, 90, 0.767);
    text-align: center;
}

h1{
    color: dodgerblue;
    border: solid thin #ffff;
    margin-bottom: 50px;
    padding: 20px 15px 20px 15px;
}

h2{
    color: darkgoldenrod;
    border: 2px dotted #ffff;

}

h3{
    color: darkgreen;
    border: 2px double #ffff;
}

h4{
    color: darkkhaki;
    border: 2px groove #ffff;
}

h5{
    color: aquamarine;
    border: 2px inset #ffff;
}

h6{
    color: yellow;
    border: 2px outset #ffff;
}

p{
    color: #f4f80a;
    border: 2px dashed #ffff;
    margin: 50px 10px 43px 10px;
    padding: 40px 20px 40px 20px;
}